# AirBnB NY Locations Data Case Study

In this final project, your task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this intire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to similate what you will face when you are out in the wild. 

Happy Coding!

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas import DataFrame

In [2]:
air_bnb = pd.read_csv('./files/AB_NYC_2019.csv')
air_bnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [9]:
# How many neighborhood groups are available and which shows up the most?
air_bnb.head()
air_bnb.columns
# I want to do a join, to find the most common city
#  find all groups of neighborhoods

there are 2 neighbourhood groups.
Manhattan shows up the most.

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [23]:
air_bnb.head()
air_bnb.columns
air_bnb_subset = DataFrame(air_bnb, columns=['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'])
air_bnb_subset.head(3)

air_bnb_subset['neighbourhood_group']
air_bnb_subset['room_type']

0           Private room
1        Entire home/apt
2           Private room
3        Entire home/apt
4        Entire home/apt
              ...
48890       Private room
48891       Private room
48892    Entire home/apt
48893        Shared room
48894       Private room
Name: room_type, Length: 48895, dtype: object

In [24]:
air_bnb_subset['neighbourhood_group']

0         Brooklyn
1        Manhattan
2        Manhattan
3         Brooklyn
4        Manhattan
           ...
48890     Brooklyn
48891     Brooklyn
48892    Manhattan
48893    Manhattan
48894    Manhattan
Name: neighbourhood_group, Length: 48895, dtype: object

In [25]:
air_bnb_subset['room_type']

0           Private room
1        Entire home/apt
2           Private room
3        Entire home/apt
4        Entire home/apt
              ...
48890       Private room
48891       Private room
48892    Entire home/apt
48893        Shared room
48894       Private room
Name: room_type, Length: 48895, dtype: object

In [26]:
# Are private rooms the most popular in manhattan?

air_bnb_subset['room_type']

no, entire home/apt is the most popular.

0           Private room
1        Entire home/apt
2           Private room
3        Entire home/apt
4        Entire home/apt
              ...
48890       Private room
48891       Private room
48892    Entire home/apt
48893        Shared room
48894       Private room
Name: room_type, Length: 48895, dtype: object

In [27]:
# Which hosts are the busiest and based on their reviews?

air_bnb_subset['number_of_reviews']
brooklyn is busiest.

0          9
1         45
2          0
3        270
4          9
        ...
48890      0
48891      0
48892      0
48893      0
48894      0
Name: number_of_reviews, Length: 48895, dtype: int64

In [28]:
#Which neighorhood group has the highest average price?
air_bnb_subset['price']
manhattan has heighest average price

0        149
1        225
2        150
3         89
4         80
        ...
48890     70
48891     40
48892    115
48893     55
48894     90
Name: price, Length: 48895, dtype: int64

In [29]:
# Which neighbor hood group has the highest total price?
air_bnb_subset['price']
manhattan has highest total price

0        149
1        225
2        150
3         89
4         80
        ...
48890     70
48891     40
48892    115
48893     55
48894     90
Name: price, Length: 48895, dtype: int64

In [30]:
#Which top 5 hosts have the highest total price?
air_bnb_subset['price']
Jennifer has the highest price.

0        149
1        225
2        150
3         89
4         80
        ...
48890     70
48891     40
48892    115
48893     55
48894     90
Name: price, Length: 48895, dtype: int64

In [31]:
air_bnb_subset['host_name']

0                 John
1             Jennifer
2            Elisabeth
3          LisaRoxanne
4                Laura
             ...
48890          Sabrina
48891          Marisol
48892    Ilgar & Aysel
48893              Taz
48894       Christophe
Name: host_name, Length: 48895, dtype: object

In [32]:
air_bnb_subset.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [34]:
# Who currently has no (zero) availability with a review count of 100 or more?
air_bnb_subset['number_of_reviews']
elisabeth does.

0          9
1         45
2          0
3        270
4          9
        ...
48890      0
48891      0
48892      0
48893      0
48894      0
Name: number_of_reviews, Length: 48895, dtype: int64

In [33]:
air_bnb_subset['host_name']

0                 John
1             Jennifer
2            Elisabeth
3          LisaRoxanne
4                Laura
             ...
48890          Sabrina
48891          Marisol
48892    Ilgar & Aysel
48893              Taz
48894       Christophe
Name: host_name, Length: 48895, dtype: object

In [36]:
air_bnb_subset['availability_365']

0        365
1        355
2        365
3        194
4          0
        ...
48890      9
48891     36
48892     27
48893      2
48894     23
Name: availability_365, Length: 48895, dtype: int64

In [37]:
# What host has the highest total of prices and where are they located?
air_bnb_subset['price']
jennifer from midtown.

0        149
1        225
2        150
3         89
4         80
        ...
48890     70
48891     40
48892    115
48893     55
48894     90
Name: price, Length: 48895, dtype: int64

In [38]:
air_bnb_subset['neighbourhood']

0                Kensington
1                   Midtown
2                    Harlem
3              Clinton Hill
4               East Harlem
                ...
48890    Bedford-Stuyvesant
48891              Bushwick
48892                Harlem
48893        Hell's Kitchen
48894        Hell's Kitchen
Name: neighbourhood, Length: 48895, dtype: object

In [39]:
# When did Danielle from Queens last receive a review?

air_bnb_subset['last_review']
never.

0        2018-10-19
1        2019-05-21
2               NaN
3        2019-07-05
4        2018-11-19
            ...
48890           NaN
48891           NaN
48892           NaN
48893           NaN
48894           NaN
Name: last_review, Length: 48895, dtype: object

## Further Questions

1. Which host has the most listings?

In [40]:
air_bnb_subset['calculated_host_listings_count']
john & taz.

0        6
1        2
2        1
3        1
4        1
        ..
48890    2
48891    2
48892    1
48893    6
48894    1
Name: calculated_host_listings_count, Length: 48895, dtype: int64

2. How many listings have completely open availability?

In [41]:
air_bnb_subset['calculated_host_listings_count']
only 2.

0        6
1        2
2        1
3        1
4        1
        ..
48890    2
48891    2
48892    1
48893    6
48894    1
Name: calculated_host_listings_count, Length: 48895, dtype: int64

In [42]:
air_bnb_subset['availability_365']

0        365
1        355
2        365
3        194
4          0
        ...
48890      9
48891     36
48892     27
48893      2
48894     23
Name: availability_365, Length: 48895, dtype: int64

3. What room_types have the highest review numbers?

In [43]:
air_bnb_subset['room_type']
entire home/apt does.

0           Private room
1        Entire home/apt
2           Private room
3        Entire home/apt
4        Entire home/apt
              ...
48890       Private room
48891       Private room
48892    Entire home/apt
48893        Shared room
48894       Private room
Name: room_type, Length: 48895, dtype: object

In [44]:
air_bnb_subset['number_of_reviews']

0          9
1         45
2          0
3        270
4          9
        ...
48890      0
48891      0
48892      0
48893      0
48894      0
Name: number_of_reviews, Length: 48895, dtype: int64

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --